.input-validation-error .help-block,
.input-validation-error .control-label,
.input-validation-error.radio,
.input-validation-error .checkbox,
.input-validation-error .radio-inline,
.input-validation-error.checkbox-inline,
.input-validation-error.radio label,
.input-validation-error.checkbox label,
.input-validation-error.radio-inline label,
.input-validation-error.checkbox-inline label {
    color: #a94442;
}
.input-validation-error .form-control {
    border-color: #a94442;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}
.input-validation-error .form-control:focus {
    border-color: #843534;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
}
.input-validation-error .input-group-addon {
    color: #a94442;
    background-color: #f2dede;
    border-color: #a94442;
}
.input-validation-error .form-control-feedback {
    color: #a94442;
}
input.input-validation-error,
select.input-validation-error {
    color: #a94442;
    border-color: #a94442;
}
   