@{
    ViewBag.Title = "Instructors";
}
<section class="content-header">
    <h1>Instructors</h1>
    
    <a asp-controller="Instructor" asp-action="Create" class="btn btn-link">Create New</a>
    
</section>